.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: navy;
    color: yellow;
  }
  
  .navbarItems {
    display: flex;
    align-items: center;
  }
  
  .pokemonImage {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  
  .pokemonImage:first-of-type {
    margin-left: 50px;
  }
  
  .pokemonImage:last-of-type {
    margin-right: 50px;
  }
  
  .score {
    margin-right: 20px;
    border: solid 1px;
    padding: 5px;
  }
  
  .link {
    color: yellow;
    text-decoration: none;
    margin-left: 20px;
    border: solid 1px;
    padding: 5px;
  }

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  .navbarItems {
    flex-direction: column;
    align-items: flex-start;
  }

  .pokemonImage {
    width: 20px;
    height: 20px;
  }

  .pokemonImage:first-of-type {
    margin-left: 0;
  }

  .pokemonImage:last-of-type {
    margin-right: 0;
  }

  .score {
    margin-right: 0;
  }

  .link {
    margin-left: 0;
  }
}